{{!

    Renders:
      Theme Credits

}}



<div class="nav header-item header-credit">

{{!
<img src="https://dstf.001001.uk-lon1.upcloudobjects.com/image.png" alt="">
}}
{{!
  <a href="http://" target="_blank" class="nav-item nav-item-alt">Website by davidestf</a>
}}
<a href="mailto:davide@fixerupper.me">Email Me</a>  


</div>



