{{!

    Renders:
      Header Logo

    Microdata:
      Blog Image
      Blog URL

}}

<a itemprop="url" href="{{@site.url}}" title="{{title}}" class="header-item header-avatar">
  <img itemprop="image" src="{{@site.logo}}" alt="{{title}}">
</a>


