{{!

    Renders:
      Header Title

    Microdata:
      Blog Name
      Blog URL

}}

<h1 itemprop="name" class="header-item header-title">
  <a itemprop="url" href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a>
</h1>
